*{
    margin: 0;
    padding: 0;
}

html{
    background-color: #fafafa;
    scroll-behavior: smooth;
}

.header{
    top: -100px;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/fish.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}

.text-box h1{
    font-size: 62px;
    font-family: Philosopher;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 20px 40px;
    font-size: 18x;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
}

.reviews{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.reviews h1{
    font-size: 36px;
    font-weight: 600;   
}

.reviews p{
    color: #777;
    font-size: 20px;
    font-weight: 300; 
    line-height: 22px;
    padding: 10px;
    
}


.row{
    margin-top: 5%;
    display:flex;
    justify-content: space-between;
}

.about-row{
    margin-top: 5%;
    display:flex;
    justify-content: space-between;
}

.review-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
   
}
.review-col p{
    font-style: italic;
}
.review-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.review-col:hover{
    box-shadow:  0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

.about-row{
    margin-top: 5%;
    display:flex;
}

.about-us{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.about-us h1{
    font-size: 36px;
    font-weight: 600;   
}
#about-desc{
    color: #777;
    font-size: 20px;
    font-weight: 300; 
}
.about-us p{
    font-size: 20px;
    font-weight: 300; 
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img{
    height: 100%; 
    display: block;
}

.campus-col p{
    text-align: left;
    display: block;
    margin-right: auto;
    padding-left: 50px;
    font-size: 20px;
}

.desc{
    font-size:20px;
    padding-right: 50px;
    padding-bottom: 50px;
    text-align:left;
    max-width:900px;
    max-height: 400px;
}

.hours{
    padding: 50px 50px 50px 50px;
    
    background-color: #fff3f3;
    
}

th {
    text-align: right; 
    font-size: 20px;
    padding-right: 20px;
    text-align: center;
    
}

td{
    font-size: 20px;
    
}

@media(max-width: 1600px){
    .desc{
        display: block;
    }

    .hours{
        display: block;
        padding: 20px 20px 20px 20px;
        width: 300px;
        
    }
    
    .about-row{
        flex-direction:column;
    }
    
}

@media(max-width: 750px){
    .desc{
        font-size: 15px;
    }
}