{% extends "layout2.html" %}
{%set loc = "../MenuIncludes/addToFav.inc.php?itemId=" %}
{%set loc = "../MenuIncludes/addToFavDrinks.inc.php?itemId=" %}
{% set imgLoc = "FoodMenu/images/gallery/" %}
{% set imgLoc2 = "DrinksMenu/images/gallery/" %}

{% block content %}
    <body>

        <section class='headboy'>
            <div class = "text-box">
                <h1 class = 'title'>The Favourites</h1>
            </div>
        </section>
        
        <link rel="stylesheet" href="../MenuIncludes/menuStyles.css">
        <script src="../MenuIncludes/menuJS.js"></script>

        <div class = "sidenav">
            <a class = "active option" onClick = "menu(0)" href = "#food">Food</a></li>
            <a class = "option" onClick = "menu(1)" href = "#drinks">Drinks</a></li>


        </div>      
        <div class = "food">
            <div id = "food" class = "area">
                <h2 class="foodType">Food</h2> 
              
                <div class = "row">
                        {% for items in food %}
                        <div class="container column">
                            <img src="{{ imgLoc ~ items.itemImg }}" alt="{{ items.itemName }}" class="image">
                            <div class="overlay">
                                <h2 class="titleMenu">{{ items.itemName }}</h2>
                                <a id = "favbutton" href="{{loc ~ items.itemId}}">&#9734</a>
                                <p class="desc">{{ items.itemIngredients }}</p>
                                <p class="price">${{ items.itemPrice }}</p>
                            </div>
                        </div>
                        {% endfor %} 
                </div>  
            </div>
             
            <div id = "drinks" class = "area">
                <h2 class="foodType">Drinks</h2> 
                <div class = "row">
                    {% for items in drinks %}
                        <div class="container column">
                            <img src="{{ imgLoc2 ~ items.itemImg }}" alt="{{ items.itemName }}" class="image">
                            <div class="overlay">
                                <h2 class="titleMenu">{{ items.itemName }}</h2>
                                <a id = "favbutton" href="{{loc2 ~ items.itemId}}">&#9734</a>
                                <p class="desc">{{ items.itemIngredients }}</p>
                                <p class="price">${{ items.itemPrice }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div> 
            </div>
    </div>

    <form id = "mail" method="POST", action="../favouriteMeals.php">
        <h2>Send Favourites By Email</h2>
        <label for="email">Email</label>
        <input id = "email" type="email" name="email">
        <button type="submit" name="submit" class = "button" id="send">Submit</button>
    </form> 
{% endblock %}      