*{
    margin: 0px;
    padding: 0px;
}

.logo{
    width: 70px;
    height: 70px;
}

header{
    background-image: url(images/homePageBackgroundImg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 475px;
}

#headerTint{
    background-color: rgba(0, 0, 0, 0.7);
    height: 475px;
}

h2{
  color: rgb(204, 122, 0);
}

h3{
  color: rgb(204, 122, 0);
}

.title{
    color: white;
    padding-top: 6%;
    text-align: center;
    font-size: 500%;
}

body{
    background-color: darkgray;
}

nav{
    background-color: rgba(0, 0, 0, 0.3);
    height: 15%;
}

#form1{
  width: 750px;
}

#form2{
  width: 750px;
  height: 200px;
}


/*
    This is a gotten from this site:
    https://www.w3schools.com/howto/howto_css_split_screen.asp
*/

.split {
    height: 400%;
    width: 50%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
  }
  
  /* Control the left side */
  .left {
    padding-top: 70px;
    padding-left: 10%;
    left: 0;
    /*background-color: white;*/
    background-color: #1a1a1d;
  }
  
  /* Control the right side */
  .right {
    padding-top: 50px;
    right: 0;
    /*background-color:white;*/
    background-color: #1a1a1d;
  }
  
  /* If you want the content centered horizontally and vertically 
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  } */
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }

  p{
    color: bisque;
  }

  label{
    color: bisque;
  }

  input, textarea{
    border-color: rgb(77, 77, 77);
    background-color: rgb(77, 77, 77);
    color: white;
    resize: none;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.%;
    padding-bottom: 0.4%;
  }