*{
    padding: 0px;
    margin: 0px;
}
html, body{
    height: 100%;
    background: url(restaurantPic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.background{
    background-color: #000;
    opacity: 0.9;
    height: 75%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background-position: cover;
    width: 50%;
    align-content: center;
    
}
.box
{
 color: white;
 margin: 15px;
}

#bookingTitle{
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
}

.textbox{
    border-radius: 25px;
    border: 2px solid rgb(153, 92, 0);
    padding: 20px; 
    width: 200px;
    height: 15px;  
    margin-left: auto;
    margin-right: auto;
    
}
