:root {
    font-size: 100%;
    font-size: 16px;
    line-height: 1.5;
}

body{
    padding:0;
    margin:0;
    font-family: Arial;
    font-weight:500;
    background-image: linear-gradient(to right, transparent, rgb(254,251,234) 65%), url("images/loginimg5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-size: 2.25rem;
    font-weight: 700;
}

h2{
    font-size: 1.5rem;
    font-weight:700;
}

a{
    text-decoration: none;
    color: #0000A3
}


a:hover{
    text-decoration: underline;
}

.split{
    display: flex;
    flex-direction: column ;
}

.left{
    height: 200px;
}

.left, .right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    /*background-color: rgba(255, 255, 255, 0.5);*/
    border-right: bisque solid px;
}


.left, .copy{
    color: white;
    text-align:center;
}

.left p{
    font-weight: 400;
}

.right, .copy{
    color: black;
    text-align:center;
}

.right .copy p{
    margin: 1.5em;
    font-size: 14px;
}

.right form{
    width: 328px;
}

form input[type = "text"], form input[type = "email"], form input[type = "password"]{
    display:block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid;
    padding: 16px;
    margin-bottom: 20px;
    font-size: 14px;
}

label{
    display:block;
    margin-bottom: 8px;
    font-size: 16px;
}

.password-container{
    position:relative;
}

.password-container i{
    position: absolute;
    top: 42px;
    right: 16px;
}

.password-checkbox{
    position: absolute;
    top: 35px;
    right: 10px;
}
.checkbox{
    display: block;
    position: relative;
    padding-left: 15px;
    cursor: pointer;
}

.login-button{
    display: block;
    width: 100%;
    background:#000075;
    color: white;
    font-family: Arial;
    font-weight: 500;
    border: none;
    padding: 16px;
    border-radius: 10px;
}

.login-button:hover{
    background: #2E2EFF;
    cursor: pointer;
}

@media (min-width: 900px) {

    .split{
        flex-direction: row;
        height: 100vh;
    }

    .left, .right{
        display: flex;
        width: 50%;
        height: auto;
    }
}

.text{
    font-family: 'Raleway', sans-serif;
}

.title{
    font-family: 'Ubuntu', sans-serif;
}