.sidenav {
    width: 70px;
    position: fixed;
    z-index:1;
    top: 20px;
    left: 10px;
    width: 200px;
    overflow-x: hidden; 
    padding: 6px 0;
}

.sidenav a{
    padding-top: 5px;
    padding-right: 7px;
    padding-bottom:5px;
    padding-left: 15px;
    text-decoration: none;
    font-size: 25px; 
    color: black;
    display:block;
}

.sidenav a:hover{
    background: rgb(182,8,37);
    color: white;
    border-radius: 8px;
}  

.sidenav a.active{
    background: rgb(182,8,37);
    color: white;
    border-radius: 8px;
}

.sidenav a:hover:not(.active){
    background: #555;
    color:white;
    border-radius:8px;
}

.food{
    margin-left: 250px;
    padding-top: 1px;
    padding-right: 15px;
}

.area {
    height: 100vh;
}

h2:after{
    content:' ';
    display:block;
    border:2px solid rgb(182,8,37);
}
