




.navbar ul{
    display: inline-flex;
    list-style: none;
    color: white;
}

.navbar ul li
{
 width: 120 px;
 margin: 15 px;
 padding: 15px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
}

.active, .navbar ul li:hover
{
background:black;
border-radius: 3px;
}

/* Menu*/
.sub-menu{
    display:none;
}

.navbar ul li:hover .sub-menu
{
    display: block;
    position: absolute;
    background-color: #800020;
    margin-top: 15px;
    margin-left: 15px;
}


.navbar ul li:hover .sub-menu ul{
    display: block;
    margin: 10px;
}
.navbar ul li:hover .sub-menu ul li{
    width: 150px;
    padding: 10 px;
    border-bottom: 1px solid #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.navbar ul li:hover .sub-menu ul li:last-child{
    border-bottom: none;
}



/* Contact*/
.sub-contact{
    display:none;
}

.navbar ul li:hover .sub-contact
{
    display: block;
    position: absolute;
    background-color: #800020;
    margin-top: 15px;
    margin-left: 15px;
}

.navbar ul li:hover .sub-contact ul{
    display: block;
    margin: 10px;
}

.navbar ul li:hover .sub-contact ul li{
    width: 150px;
    padding: 10 px;
    border-bottom: 1px solid #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.navbar ul li:hover .sub-contact ul li:last-child{
    border-bottom: none;
}
