*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: sans-serif;
    background-color: darkgray;
}

/*Navbar css*/

header{
    background-image: url(images/backgroundImg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

#headerTint{
    background-color: rgba(0, 0, 0, 0.8);
    height: 800px;
}

.navbar{
    text-align: right;
    padding-right: 8%;
}


#logo{
    width: 100px;
    height: 100px;
    max-width: 100px;
    float: left;
    display: inline;
}

nav{
    background-color: rgba(0, 0, 0, 0.3); 
    height: 100px; 
    margin-bottom: 50px;
}

.navbar ul{
    display: inline-flex;
    list-style: none;
    color: white;
}

.navbar ul li
{
 width: 130 px;
 height: 10px;
 background-color: rgb(181, 142, 101);
 border-radius: 3px;
 margin-left: 40px;
 padding: 15px;
 margin-top: 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
}

.active, .navbar ul li:hover
{
background:rgb(181, 142, 101);
border-radius: 3px;
}

/* Menu*/
.sub-menu{
    display:none;
}

.navbar ul li:hover .sub-menu
{
    display: block;
    position: absolute;
    background-color: rgb(181, 142, 101);
    margin-top: 15px;
    margin-left: 15px;
}


.navbar ul li:hover .sub-menu ul{
    display: block;
    margin: 10px;
}
.navbar ul li:hover .sub-menu ul li{
    width: 150px;
    padding: 10 px;
    border-bottom: 1px solid #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.navbar ul li:hover .sub-menu ul li:last-child{
    border-bottom: none;
}



/* Contact*/
.sub-contact{
    display:none;
}

.navbar ul li:hover .sub-contact
{
    display: block;
    position: absolute;
    background-color: rgb(181, 142, 101);
    margin-top: 15px;
    margin-left: 15px;
}

.navbar ul li:hover .sub-contact ul{
    display: block;
    margin: 10px;
}

.navbar ul li:hover .sub-contact ul li{
    width: 150px;
    padding: 10 px;
    border-bottom: 1px solid #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.navbar ul li:hover .sub-contact ul li:last-child{
    border-bottom: none;
}

.title{
    color: white;
    text-align: center;
    color: rgb(181, 142, 101);
    font-size: 500%;
}
