*{
    margin: 0px;
    padding: 0px;
}

html{
    min-height: 100%;
}

.logo{
    width: 200px;
    height: 200px;
}

header{
    background-image: url(images/homePageBackgroundImg1.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

#headerTint{
    background-color: rgba(0, 0, 0, 0.7);
    height: 800px;
}

.title{
    color: white;
    text-align: center;
    font-size: 500%;
}

body{
    background-color: #1a1a1d;
    color: white;
}

nav{
    background-color: rgba(0, 0, 0, 0.3); 
    padding-bottom: 7%; 
}

.about #aboutheader{
    width: 50%;
}

#about-header{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 30px;
    font-size: 20px;
    width: 65%;
   
}

main{
    min-height: calc(100vh - 50px);
}


table{
    float: right;
    padding-right: 8%;
    width: 30%;
    font-size: 20px;
    background-color: rgb(203,172,167);
    padding-bottom: 800px;  
    margin-top: -100px;
    border-left: rgb(227, 138, 162) 7px solid;
    color: black;

}



td{
    padding: 5px;
}

.about-text {
    float: left;
    display: inline;
    width: 60%;
    font-size: 20px;
    padding-left: 40px;
}
body{
    position: absolute;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: grey;
  color: white;
  height: 100px;
  font-size: 20px;
}