*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.footer-container{
    background-color: #212329;
    padding: 64px 0 64px 0;
}

.footer{
    width: 80%;
    height: 40vh;
    background-color: 212329;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    z-index: 10;
}

.footer-heading{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2{
    margin-bottom: 32px;
}

.footer-heading a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading p{
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover{
    color: red;
    transition: 0.3s ease-out;
}

@media screen and (max-width: 1600px){

    
}