{% extends "layout2.html" %}
{%set loc = "../MenuIncludes/addToFavDrinks.inc.php?itemId=" %}
{% set imgLoc = "DrinksMenu/images/gallery/" %}

{% block content %}
    <section class='headboy'>
        <div class = "text-box">
            <h1 class = 'title'>Drings Menu</h1>
        </div>
    </section>

    <link rel="stylesheet" href="../MenuIncludes/menuStyles.css">
    <script src="../MenuIncludes/menuJS.js"></script>

    <div class = "sidenav">
        <a class = "active option" onClick = "menu(0)" href = "#softdrinks">Soft Drinks</a></li>
        <a class = "option" onClick = "menu(1)" href = "#juice">Juice</a></li>
        <a class = "option" onClick = "menu(2)" href = "#water">Water</a></li>
        <a class = "option" onClick = "menu(3)" href = "#alcoholicDrinks">Alcoholic Drinks</a></li>
        <a class = "option" onClick = "menu(4)" href = "#hotDrinks">Hot Drinks</a></li>
        <a class = "option" onClick = "menu(5)" href = "#liquor">Liquor</a></li>
    </div>
    <div class = "food">
        <div id = "softdrinks" class = "area">
            <h2 class="foodType">Soft Drinks</h2> 
                <div class = "row">
                    {% for items in softdrinks %}
                        <div class="container column">
                            <img src="{{ imgLoc ~ items.itemImg }}" alt="{{ items.itemName }}" class="image">
                            <div class="overlay">
                                <h2 class="titleMenu">{{ items.itemName }}</h2>
                                <a id = "favbutton" href="{{loc ~ items.itemId}}">&#9734</a>
                                <p class="desc">{{ items.itemIngredients }}</p>
                                <p class="price">${{ items.itemPrice }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>   
        </div>

        <div id = "juice" class = "area">
            <h2 class="foodType">Juice</h2> 
                <div class = "row">
                    {% for items in juice %}
                        <div class="container column">
                            <img src="{{imgLoc ~ items.itemImg }}" alt="{{ items.itemName }}" class="image">
                            <div class="overlay">
                                <h2 class="titleMenu">{{ items.itemName }}</h2>
                                <a id = "favbutton" href="{{loc ~ items.itemId}}">&#9734</a>
                                <p class="desc">{{ items.itemIngredients }}</p>
                                <p class="price">${{ items.itemPrice }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>  
        </div>

        <div id = "water" class = "area">
            <h2 class="foodType">Water</h2> 
                <div class = "row">
                    {% for items in water %}
                        <div class="container column">
                            <img src="{{imgLoc ~ items.itemImg }}" alt="{{ items.itemName }}" class="image">
                            <div class="overlay">
                                <h2 class="titleMenu">{{ items.itemName }}</h2>
                                <a id = "favbutton" href="{{loc ~ items.itemId}}">&#9734</a>
                                <p class="desc">{{ items.itemIngredients }}</p>
                                <p class="price">${{ items.itemPrice }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>  
        </div>

        <div id = "alcoholicDrinks" class = "area">
            <h2 class="foodType">Alcoholic Drinks</h2> 
                <div class = "row">
                    {% for items in alcoholicDrinks %}
                        <div class="container column">
                            <img src="{{imgLoc ~ items.itemImg }}" alt="{{ items.itemName }}" class="image">
                            <div class="overlay">
                                <h2 class="titleMenu">{{ items.itemName }}</h2>
                                <a id = "favbutton" href="{{loc ~ items.itemId}}">&#9734</a>
                                <p class="desc">{{ items.itemIngredients }}</p>
                                <p class="price">${{ items.itemPrice }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>  
        </div>

        <div id = "hotDrinks" class = "area">
            <h2 class="foodType">Hot Drinks</h2> 
                <div class = "row">
                    {% for items in hotDrinks %}
                        <div class="container column">
                            <img src="{{imgLoc ~ items.itemImg }}" alt="{{ items.itemName }}" class="image">
                            <div class="overlay">
                                <h2 class="titleMenu">{{ items.itemName }}</h2>
                                <a id = "favbutton" href="{{loc ~ items.itemId}}">&#9734</a>
                                <p class="desc">{{ items.itemIngredients }}</p>
                                <p class="price">${{ items.itemPrice }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>  
        </div>

        <div id = "liquor" class = "area">
            <h2 class="foodType">liquor</h2> 
                <div class = "row">
                    {% for items in liquor %}
                        <div class="container column">
                            <img src="{{imgLoc ~ items.itemImg }}" alt="{{ items.itemName }}" class="image">
                            <div class="overlay">
                                <h2 class="titleMenu">{{ items.itemName }}</h2>
                                <a id = "favbutton" href="{{loc ~ items.itemId}}">&#9734</a>
                                <p class="desc">{{ items.itemIngredients }}</p>
                                <p class="price">${{ items.itemPrice }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>  
        </div>
        {% if admin %}
            <div>
                <form id = "inputForm" action="DrinksMenu/includes/menu-upload.inc.php" method="POST" enctype="multipart/form-data">
                    <h1>Input</h1>
                    <label for=""></label>
                    <input id="fileName" type="text" name="filename" placeholder="File name...">
                    <br>
                    <input id="dishName" type="text" name="title" placeholder="Dish Title...">
                    <br>
                    <input id="price" type="text" name="price" placeholder="Price">
                    <br>
                    <input id="section" type="text" name="section" placeholder="Starter/Sushi/Accompaniments/Soup/Curry/Dessert">
                    <br>
                    <input id="fileName" type="file" name="file">
                    <br>
                    <button type="submit" name="submit">Submit</button>
                </form>
            </div>
        {% endif %}
    </div>

    

{% endblock %}      