{% extends "layout2.html" %}
{% set imgLoc = "FoodMenu/images/gallery/" %}

{% block content %}
    <link rel="stylesheet" href="../MenuIncludes/menuStyles.css">
    <link rel="stylesheet" href="Details/detStyles.css">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Raleway:wght@300&family=Ubuntu&display=swap" rel="stylesheet">

    <body>

        <section class='headboy'>
            <div class = "text-box">
                {% for item in food%}
                    <h1 class = 'title'>{{item.itemName}}</h1>
                {% endfor %}
            </div>
        </section> 

        <main>
            {% for item in food%}
                <img id = "img" src="{{ imgLoc ~ item.itemImg }}" alt="{{ item.itemName }}">
                <h2 class = "stuff">Category: </h2>
                <p class = "info">{{item.itemType}}</p>
                <h2 class = "stuff">Ingredients List: </h2>
                <p class = "info">{{ item.itemIngredients }}</p>
                <h2 class = "stuff">Price: </h2>
                <p class = "info">${{ item.itemPrice }}</p>
                <h2 class = "stuff">Spice Level:</h2>
                <p class = "info">{{ item.itemSpiceLevel }}</p>
            {% endfor %}
            <br>
            <br>
        </main>

    </body>
{% endblock %}