#img{
    margin-left: 40%;
    display: inline;
}

.title{
    font-family: Philosopher;
}

.stuff{
    margin-left: 20%;
    position: relative;
    bottom: 600px;
    font-size: 200%;
    max-width: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.info{
    font-family: 'Raleway', sans-serif;
    margin-left: 20%;
    position: relative;
    bottom: 600px;
    font-size: 200%;
    max-width: 500px;
}

@media screen and (max-width: 1000px){
    #img{
        margin-left: 20%;
        display: block;
        margin-bottom: 20px;

    }

    .info{
        position: static;
    }
    .stuff{
        position: static;
    }
}