*{
  margin: 0px;
  padding: 0px;
}

.title{
  font-size: 62px;
  font-family: Philosopher;
  color:white;
  z-index: 2;
  padding-top: 20vh;
  text-align: center;
}

.textbox{
  top: 50px;
}

.headboy{
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../../MenuIncludes/images/contact.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
  top: -100px;
  height:50vh;
  width: 100%;
}

html, body{
  height: 70%;
  width: 100%;
  background-color: #fafafa;
}

.contactUsTitle{
  color: black;
}

body {
display: relative;
}

h2{
font-family: 'Ubuntu', sans-serif;
}

#email{
margin-top: 3px;
}

h3{
color: black;
margin-top: 2%;
font-family: 'Ubuntu', sans-serif;
}

#form1{
font-size: 105%;
font-family: 'Raleway', sans-serif;
width: 100%;
}

#form2{
font-size: 105%;
font-family: 'Raleway', sans-serif;
width: 100%;
height: 175px;
}

form{
max-width: 750px;
max-height: 800px;
}

.contactSub{
float: right;
font-family: 'Ubuntu', sans-serif;
color: black;
border-color: rgb(77, 77, 77);
padding: 5px;
}

#dropdownContact{
border-color: rgb(77, 77, 77);
color: black;
font-family: 'Raleway', sans-serif;
}

#openingHours{
width:50%;
}

.split {
  height: 100%;
  width: 50%;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

/* Control the left side */
.left {
  padding-top: 70px;
  padding-left: 10%;
  left: 0;
}

/* Control the right side */
.right {
  padding-top: 70px;
  left: 80vh;
  /*background-color:white;*/
}

p{
  color: black;
  font-family: 'Raleway', sans-serif;
}

label{
  color: black;
  font-family: 'Ubuntu', sans-serif;
}

input:focus, textarea:focus, dropdownContact:focus{
  outline: none;
}

input, textarea{
  border-color: rgb(77, 77, 77);
  background-color: white;
  color: black;
  resize: none;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.%;
  padding-bottom: 0.4%;
  border-radius: 5px;
}

th{
  text-align: left;
  color: black;
  font-family: 'Ubuntu', sans-serif;
}

td{
  color: black;
  font-family: 'Raleway', sans-serif;
}

.details{
  padding-bottom: 0.5%;
}

.contactSub2{
  float: right;
  font-family: 'Ubuntu', sans-serif;
  color: bisque;
  border-color: rgb(77, 77, 77);
  padding: 5px;
  display: none;
 }

@media screen and (max-width: 750px){
  #logo{
    display: none;
  }

  .headboy{
    height: 25vh;
  }

  .title{
    display: none;
  }

  .left{
    padding-top: 20px;
  }

  .right{
    padding-top: 20px;
  }
}

@media screen and (max-width: 1600px){

  form{
    max-width:93%;
    max-height: 750px;
  }

  .right{
    bottom: 0vh;
    left: 0vh;
    padding-left: 10%;
    padding-bottom: 5%;
  }
}

@media screen and (max-width: 1000px){
  .split{
    width: 100%;
    position: relative;
  }

  .left {
    display: block;
    padding-left: 10%;
    box-sizing: border-box;
  }

  .right{
    padding-left: 10%;
    display: block;
    box-sizing: border-box;
  }

  footer{
    position: relative;
    box-sizing: border-box;
    margin-top: 2%;
  }

  main{
    font-size: 150%;
  }

  .contactSub{
    display: none;
   }

  .contactSub2{
    margin-top: 10px;
    display: inline;    
   }
}

@media screen and (max-height: 640px){
  .title{
    display: none;
  }

  #headerTint{
    height: auto;
  }

  header{
    background-image: url(../../Background/backgroundImg2.png);
    height: auto;
  } 

  .left{
    padding-top: 20px;
  }

  .right{
    padding-top: 20px;
  }

  nav{
    margin-bottom: 2%;
  }
}