/*
*{
  margin: 0px;
  padding: 0px;
}
*/
.title{
  font-size: 62px;
  font-family: Philosopher;
  color:white;
  z-index: 2;
  padding-top: 20vh;
  text-align: center;
}

.textbox{
  top: 50px;
}

.headboy{
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../../MenuIncludes/images/contact.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
  top: -100px;
  height:50vh;
  width: 100%;
}

html, body{
  height: 70%;
  width: 100%;
  background-color: #fafafa;
}

.contactUsTitle{
  color: black;
}

/* body {
display: relative;
} */

h2{
font-family: 'Ubuntu', sans-serif;
}

#email{
margin-top: 3px;
}

h3{
color: black;
margin-top: 2%;
font-family: 'Ubuntu', sans-serif;
}

#form1{
font-size: 105%;
font-family: 'Raleway', sans-serif;
width: 100%;
}

#form2{
font-size: 105%;
font-family: 'Raleway', sans-serif;
width: 100%;
height: 175px;
}

form{
max-width: 750px;
max-height: 800px;
}

.contactSub{
float: right;
font-family: 'Ubuntu', sans-serif;
color: black;
border-color: rgb(77, 77, 77);
padding: 5px;
} 

.about-row{
  margin-top: 5%;
  display:flex;
  justify-content: space-between;
}

/* 
.about-row{
  margin-top: 5%;
  display:flex;
} */

.desc{
  font-size:20px;
  padding-right: 50px;
  padding-bottom: 10px;
  text-align:left;
  max-width:900px;
  max-height: 400px;
}


/* .row{
  margin-top: 5%;
  display:flex;
  justify-content: space-between;
}
*/

.desc{
  font-size:20px;
  padding-right: 50px;
  padding-bottom: 500px;
  text-align:left;
  max-width:900px;
  max-height: 400px;
}


.det{
  padding-left: 400px;
}
.forms{
 padding-right: 300px;
}
.about-row{
  margin-top: 5%;
  display:flex;
  justify-content: space-between;
}

.about-row{
  margin-top: 20px;
  display:flex;
} 

.form-row{
  padding-right: 400x;
}

#dropdownContact{
border-color: rgb(77, 77, 77);
color: black;
font-family: 'Raleway', sans-serif;
}


p{
  color: black;
  font-family: 'Raleway', sans-serif;
}

label{
  color: black;
  font-family: 'Ubuntu', sans-serif;
}

input:focus, textarea:focus, dropdownContact:focus{
  outline: none;
}

input, textarea{
  border-color: rgb(77, 77, 77);
  background-color: white;
  color: black;
  resize: none;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.%;
  padding-bottom: 0.4%;
  border-radius: 5px;
}

th{
  text-align: left;
  color: black;
  font-family: 'Ubuntu', sans-serif;
}

td{
  color: black;
  font-family: 'Raleway', sans-serif;
  padding-right: 30px;
}

.details{
  padding-bottom: 0.5%;
}

.contactSub2{
  float: right;
  font-family: 'Ubuntu', sans-serif;
  color: black;
  border-color: rgb(77, 77, 77);
  padding: 5px;
  display: none;
 }

@media screen and (max-width: 750px){
  #logo{
    display: none;
  }

  .headboy{
    height: 25vh;
  }

  .title{
    display: none;
  }

  .left{
    padding-top: 20px;
  }

  .right{
    padding-top: 20px;
  }
}

@media screen and (max-width: 1400px){

 
  .det{
    padding-left: 200px;
  }
  .forms{
   padding-right: 200px;
  }
}

@media screen and (max-width: 1000px){
  

  footer{
    position: relative;
    box-sizing: border-box;
    margin-top: 2%;
  }

  main{
    font-size: 150%;
  }

  .contactSub{
    display: none;
   }

  .contactSub2{
    margin-top: 10px;
    display: inline;    
   }

   .desc{
    display: block;
  }

  .hours{
    display: block;
    padding: 20px 20px 20px 20px;
    width: 300px;
    
  }

  .about-row{
    flex-direction:column;
  }

  .forms{
    padding-left: 200px;
    padding-right:0;
   }
}

@media screen and (max-height: 640px){
  .title{
    display: none;
  }

  #headerTint{
    height: auto;
  }

  header{
    background-image: url(../../Background/backgroundImg2.png);
    height: auto;
  } 

  .left{
    padding-top: 20px;
  }

  .right{
    padding-top: 20px;
  }

  nav{
    margin-bottom: 2%;
  }
}