<!doctype html>
<html lang="en">
    <head>
        <meta name = "viewport" content = "width=decice-width, initilal-scale=1.0">
        <title>PogFish Asian</title>
        <link rel="stylesheet" href="../TemplatesCss/test.css">
        <link rel="stylesheet" href="../TemplatesCss/navbar2.css">
        
        <!--Fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">
        <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Raleway:wght@300&family=Ubuntu&display=swap" rel="stylesheet">

    </head>

    <body>
        <div id="headerTint">
            <nav>
                <img id="logo" src="../GeneralIncludes/images/logo.png" alt="PogFish Sushi restaurant logo">
                <div class="navbar">
                    <ul>
                        <li class = "active"><a href = "home.php" >Home </a> </li>
                            
                        
                        <li><a href = "menu.php">Menu </a> 
                            <div class = "sub-menu">
                                <ul>
                                        <li><a href = "menu.php">Food</a></li>
                                        <li><a href = "drinks.php">Drink</a></li>
                                </ul>
                            </div>
                        </li>
        
                
                        <li><a href = "contact.php">Contact</a> 
                            <div class = "sub-contact">
                                <ul>
                                    <li><a href = "booking.php">Book a Table</a></li>
                                    <li><a href="events.php">Event</a></li>
                                    <li><a href = "contact.php?type=complaints">Complaints</a></li>
                                </ul>
                            </div>
                        </li>
                            {% if loggedIn %}
                                <li><a href = 'favourites.php'>Favourites</a></li>
                                <li><a href = 'SignUpAndLogIn/includes/logout.inc.php'>logout</a></li>
                            {% else %}
                                <li><a href = 'login.php'>Login</a></li>
                                <li><a href = 'signup.php'>Signup</a></li>
                            {% endif %}
                    </ul>
                </div>
            </nav>
        </div>


        {% block content%}
        {% endblock %}

        <div class = "footer-container">
            <div class = "footer">
                <div class = "footer-heading footer-1">
                    <h2>Make an Account</h2>
                    <a href ="signup.php">Sign Up</a>
                </div>

                <div class = "footer-heading footer-2">
                    <h2>Visit our Restaurant</h2>
                    <a href ="booking.php">Book a Table</a>
                    <a href ="events.php">Planning an event?</a>
                </div>

                
                <div class = "footer-heading footer-3">
                    <h2>Contact Us</h2>
                      <p>+356 9911 1002<br>
                        testemail@sushi.com</p>
                </div>

                <div class = "footer-heading footer-4">
                    <h2>Location</h2>
                     <p> Valletta Waterfront<br>
                      Valletta, VLT 3456</p>
                </div>
            </div>
        </div>

    </body>
</html>