<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PogFish Sushi</title>
        <!-- <link rel="stylesheet" href="contactStyles.css"> -->
        <link rel="stylesheet" href="SignUpAndLogIn/loginCSS.css">
        <script src = "SignUpAndLogin/loginJS.js"></script>

        <!--Fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">
        <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Raleway:wght@300&family=Ubuntu&display=swap" rel="stylesheet">

    </head>
    <body>
        <!--split screen-->
        <div class = split>
        <!--left side of split screen-->
            <div class = left>
                <section class = "copy">
                    <h1>PogFish Asian</h1>
                    <p>The best Asian cuisine restaurant on the Valletta Waterfront</p>
                </section>
            </div>
        <!--right side of split screen-->
            <div class = right>
                <!-- where form starts-->
                <form method="POST", action="SignUpandLogIn/includes/login.inc.php">
                    <section class = "copy">
                        <h2> Log In</h2>
                        <div class = "login">
                            <p>Don't have an account?<a href = "signup.php"><strong>Sign Up</strong></a></p> <!--redirects user to sign up page-->
                        </div>
                    </section>

                   
                    <label for="email">Email</label>
                    <input id = "email" type="email" name="email">
                    <br>
                   
                    <div class = "password-container">
                        <label for="password">Password</label>
                        <input id = "password" type="password" name="password">
                        <input type = "checkbox" onclick="myFunction()">See password <!--See password function to remove censoring from password on click (using js) -->
                    </div>
                    <br>
                    <button type="submit" name="submit" class = "login-button">Login</button>
                    {% if errorFields %}
                        <p>Not all the fields where filled in</p>
                    {% endif %} 
                    {% if errorValue %}
                        <p>Email or password is incorrect</p>
                    {% endif %}    
                </form> 
            </div>
        </div>
    </body>
</html>
