<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PogFish Sushi</title>
        <!-- <link rel="stylesheet" href="contactStyles.css"> -->
        <link rel="stylesheet" href="SignUpAndLogin/signUpCSS.css">
        <script src = "SignUpAndLogin/loginJS.js"></script>

        <!--Fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">
        <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Raleway:wght@300&family=Ubuntu&display=swap" rel="stylesheet">

    </head>
    <body>
        <div class = split>
            <div class = left>
                <section class = "copy">
                    <h1>PogFish Sushi</h1>
                    <p>The best Asian cuisine restaurant on the Valletta Waterfront</p>
                </section>
            </div>
            
            <div class = right>
                <form method="POST", action="SignUpAndLogIn/includes/signup.inc.php">
                    <section class = "copy">
                        <h2> Sign Up</h2>
                        <div class = "login">
                            <p>Already have an account? <a href = "login.php"><strong>Log In</strong></a></p>
                        </div>
                    </section>

                    <label for="firstname">First Name</label>
                    <input id = "firstname" type="text" name="firstname">
                    <br>
                    <label for="lastname">Last Name</label>
                    <input if = "lastname" type="text" name="lastname">
                    <br>
                    <label for="email">Email</label>
                    <input id = "email" type="email" name="email">
                    <br>
                    <div class = "password-container">
                        <label for="password">Password</label>
                        <input id = "password" type="password" name="password">
                        <input type = "checkbox" onclick="myFunction()">See password
                    </div>
                    <br>
                    <button type="submit" name="submit" class = "signup-button">Sign up</button>
                
                    {% if errorExists %}
                        <p>Email is already in use</p>
                    {% endif %}
                    {% if errorInput %}
                        <p>Fill in all the required fields</p>
                    {% endif %}
                    {% if errorEmail %}
                        <p>A valid email was not entered</p>
                    {% endif %}
                    
                    
                </form>    
            </div>
        </div>
    </body>
</html>

